body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}
